<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S20:End:true##S26:Set Status:true##S159:Update Status To Submitted:true##S22:Error Exception:true##S21:Review Data Submitted by Licensee:true##S24:Additional Information Requested:true##S23:Review Data Submitted By DataEntry User:true##S15:Primay Rep Decision:true##S14:Receive Form:true##S25:Get Process Config:true##S17:Approval Decision:true##S16:DOE Decision:true##S19:DOEApproval:true##S18:End:true##S165:Addition Information Requested By DOE:true##"/>
</businessProcessConfig>
