<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S42:Approver Decision:true##S53:Passthrough:true##S22:Get Process Config:true##S32:Review Compliance Assessment By Reveiwer:true##S35:Reviewer Decision:true##S45:End:true##S26:More Information Requested By Supervisor:true##S48:Email to Raise Consent:true##S17:Receive Message:true##S39:Review Compliance Assessment By Approver:true##S16:Review Compliance Submitted By Data Entry:true##S27:Supervisor Decision:true##S49:Email to Raise Derogation:true##S19:Approval Decision:true##"/>
</businessProcessConfig>
