<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S9:Receive Objections:true##S15:Check Approval from  L&amp;C Specialist:true##S12:Review Objections:true##S37:Receive Message:true##S40:Review Objections:true##S49:Review Objections:true##S22:Terminate Objections:true##S55:Prepare  Process Configration Data:true##S46:Receive Objections:true##S14:Review Objections By Section Head:true##S58:Review Objections:true##S27:L&amp;C Section Head Decision:true##S29:Deactivate Public notice:true##"/>
</businessProcessConfig>
