<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S20:Approve Or Check for More Information On Public Register :true##S22:Final Approval Or Check for More Information on Public Register:true##S25:Recieve Message:true##S19:Review And Send Public Register To SectionHead:true##S21:Section Head Decision:true##S12:End:true##S23:LCCPOD Decision:true##S78:Start Event1:true##S80:Review Public Register:true##S91:Review and Approval from Licence Director:true##S92:Section Head to Review Public Register:true##S73:Prepare  Process Configration Data:true##"/>
</businessProcessConfig>
